# Build artifacts
*.exe
*.o
*.obj
*.cpp
main
cppcheck_report.txt

#Unused header files
RandomGeneration.h
constexprVar.h
runtimeVar.h

# Editor / LSP configs (contain absolute paths)
.clangd

# OS junk
Thumbs.db
desktop.ini
.DS_Store
